<template>
  <div v-if="currentUser">
    <div class="container pt-4" v-if="gameMode.length && displayGame && file">
      <game-board :file="file"/>
    </div>
    <div v-else-if="!gameMode.length">
      <div class="h1 title-font text-white text-center position-absolute pt-4" style="width: 100%">Mode de jeu</div>
      <div class="full-height-width d-flex justify-content-center align-items-center">
          <div class="card card-mode" style="width: 18rem;" @click="changeGameMode('ia')">
              <div class="card-body">
                  <h5 class="card-title text-center">2 IA</h5>
                  <img class="card-img" style="height: 200px; width: auto" src="../assets/iamode.png" />
                  <p class="card-text">Faites combattre vos IA entre elles et voyez quelle est la meilleure.</p>
              </div>
          </div>
          <div class="card card-mode" style="width: 18rem;" @click="changeGameMode('player')">
              <div class="card-body">
                  <h5 class="card-title text-center">1 Joueur</h5>
                  <img class="card-img mt-4" style="height: 160px; width: auto" src="../assets/playermode.png" />
                  <p class="card-text mt-3">Testez votre IA en jouant contre elle.</p>
              </div>
          </div>
      </div>
    </div>
    <div v-else>
      <div class="full-height-width d-flex justify-content-center align-items-center">
        <div class="card card-files" style="width: 36rem;">
              <div class="card-body">
                  <h5 class="card-title text-center">Inserez les fichiers</h5>
                  <div class="text-center mt-4">
                    <img class="card-img" style="height: 140px; width: auto" src="../assets/files.png" />
                  </div>
                  <div v-if="gameMode === 'ia'" class="d-flex">
                    <div class="mr-2">
                      <label for="formFile" class="form-label">Fichier IA 1 (.py)</label>
                      <input class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                    <div class="text-right ml-2">
                      <label for="formFile" class="form-label">Fichier IA 2 (.py)</label>
                      <input class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                  </div>
                  <div v-if="gameMode === 'player'">
                    <div>
                      <label for="formFile" class="form-label">Fichier IA (.py)</label>
                      <input @change="handleFile" ref="myFile" class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <button type="button" class="btn btn-outline-dark" @click="() => {displayGame = true;}">Lancer la partie</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameBoard from './GameBoard.vue'

export default {
  name: "Game",
  components: {
    GameBoard
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
    changeGameMode(mode) {
      this.gameMode = mode;
    },
    handleFile() {
      this.file = this.$refs.myFile.files[0]
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  },
  data() {
    return {
      gameMode: "",
      displayGame: false,
      file: null
    };
  },
};
</script>

<style scoped>
.card-mode {
    margin: 0 20px;
    height: 340px;
    -webkit-box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5);
    border-radius: 20px;
    transition: height 0.5s;
}

.card-mode:hover {
  -webkit-box-shadow: 0px 8px 15px 2px rgba(166, 105, 0, 0.5); 
  box-shadow: 0px 8px 15px 2px rgba(166, 105, 0, 0.5);
  height: 355px;
  cursor: pointer;
}

.card-files {
    margin: 0 20px;
    height: 360px;
    -webkit-box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5);
    border-radius: 20px;
}
</style>