<template>
    <div class="board-container">
        <div v-if="winner === 0" class="game">
            <div class="box" id="cell-6"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" id="cell-7"></div>
            <div class="box" id="cell-2"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" id="cell-10"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" id="cell-3"></div>
            <div class="box" id="cell-0"></div>
            <div class="box" id="cell-4"></div>
            <div class="box"></div>
            <div class="box" id="cell-11"></div>
            <div class="box"></div>
            <div class="box" id="cell-5"></div>
            <div class="box" id="cell-1"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" id="cell-8"></div>
            <div class="box"></div>
            <div class="box" id="cell-9"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" id="cell-12"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" id="cell-13"></div>
        </div>
        <div v-if="winner === -1 || winner === 1">
            <div v-if="winner === 1" class="text-center h1 title-font text-white">Vous avez gagné !</div>
            <div v-if="winner === -1" class="text-center h1 title-font text-white">Vous avez perdu</div>
        </div>
        <div v-if="!winner" class="d-flex justify-content-between mt-4">
            <div class="ml-4">
                <button type="button" class="btn btn-light mr-3 game-btn" @click="sleep()">Dormir</button>
                <button type="button" class="btn btn-light ml-3 mr-3 game-btn" @click="changeActionExec('grow')">Grossir</button>
                <button type="button" class="btn btn-light ml-3 game-btn" @click="changeActionExec('move')">Se déplacer</button>
            </div>
            <div class="mr-4 p-2 score-container" id="score">
            </div>
        </div>
        <div v-if="actionExec.length" class="mt-4 pl-4">
            <div v-if="actionExec === 'grow'" class="input-group" style="width: 455px">
                <input v-model="growx" type="text" placeholder="Numéro de la case" class="form-control">
                <button class="btn btn-secondary" type="button" @click="grow()">Éxécuter</button>
            </div>
            <div v-if="actionExec === 'move'" class="input-group" style="width: 740px">
                <input v-model="positionx" type="text" placeholder="Numéro de la case (départ)" class="form-control">
                <input v-model="positiony" type="text" placeholder="Numéro de la case (arrivée)" class="form-control">
                <input v-model="strength" type="text" placeholder="Nb de troupes à déplacer" class="form-control">
                <button class="btn btn-secondary" type="button" @click="move()">Éxécuter</button>
            </div>
        </div>
    </div>
</template>

<script>
import GameService from "../services/game.service";

export default {
    name: "game-board",
    props: ['file'],
    methods: {
        refreshBoard(plateau) {
            document.querySelectorAll('.pawn').forEach(e => e.remove());
            document.querySelectorAll('.score-sub').forEach(e => e.remove());

            this.actionExec = '';

            if(parseInt(plateau.winner) !== 0) {
                this.winner = parseInt(plateau.winner);
                return;
            } 

            plateau.troupes.forEach(objet => {
                const gridId = 'cell-' + objet.cell;

                const cell = document.getElementById(gridId);
                
                const element = document.createElement('div');
                element.classList = ['pawn d-flex justify-content-center'];

                const subElement1 = document.createElement('div');
                const subElement2 = document.createElement('div');

                // div 1
                subElement1.innerHTML = objet.joueur == 1 ? "<img style='height: 35px; width: auto;' src='../img/pawn.png' />" :
                    "<img style='height: 35px; width: auto;' src='../img/pawn-blue.png' />";

                // div 2
                subElement2.classList.add('font-weight-bold');

                const subSubElement1 = document.createElement('div');
                subSubElement1.classList.add('text-secondary');
                subSubElement1.innerText = objet.nbPions;

                const subSubElement2 = document.createElement('div');
                subSubElement2.style = "text-shadow: 0 0 3px black;"
                subSubElement2.classList.add('text-white');
                subSubElement2.innerText = objet.nbCoups;

                subElement2.appendChild(subSubElement1);
                subElement2.appendChild(subSubElement2);

                if(objet.owner === 1) {
                    element.appendChild(subElement1);
                    element.appendChild(subElement2);
                }
                else {
                    element.appendChild(subElement2);
                    element.appendChild(subElement1);
                }

                cell.appendChild(element);
            });

            const scoreElement = document.getElementById("score");
            const scoreSub1 = document.createElement('div');
            scoreSub1.innerText = `Score J1(Vous, Rouge): ${plateau.scoreJ1}`;
            const scoreSub2 = document.createElement('div');
            scoreSub2.innerText = `Score J2(IA, Bleu): ${plateau.scoreJ2}`;
            const scoreSub3 = document.createElement('div');
            scoreSub3.innerText = `Tours restants: ${plateau.toursRestants}`;

            scoreSub1.classList.add('score-sub');
            scoreSub2.classList.add('score-sub');
            scoreSub3.classList.add('score-sub');

            scoreElement.appendChild(scoreSub1);
            scoreElement.appendChild(scoreSub2);
            scoreElement.appendChild(scoreSub3);
        },

        changeActionExec(mode) {
            this.actionExec = mode;
        },

        sleep() {
            GameService.sleep().then((response) => {
                this.refreshBoard(response.data.tabletop);
            });
        },

        grow() {
            GameService.grow(parseInt(this.growx)).then((response) => {
                this.refreshBoard(response.data.tabletop);
            });
        },

        move() {
            GameService.move(parseInt(this.positionx), parseInt(this.positiony), parseInt(this.strength)).then((response) => {
                this.refreshBoard(response.data.tabletop);
            });
        }
    },
    mounted() {
        GameService.startGameWithFile(this.file).then((response) => {
            this.refreshBoard(response.data.tabletop);
        });
    },
    data() {
        return {
            actionExec: '',
            growx: '',
            positionx: '',
            positiony: '',
            strength: '',
            winner: 0
        };
    },
}
</script>

<style scoped>
.board-container {
    text-align: center;
    width: 931px;
    margin: 0 auto;
}

.game {
    display: grid;
    grid-template-columns: repeat(7, 133px);
    grid-template-rows: repeat(5, 77px);
    justify-content: center;
    background-image: url("../assets/risky_background.png");
    background-size: cover;
    border-radius: 30px;
    border: solid black 2px;
    -webkit-box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5);
}

.score-container {
    background-color: rgba(0,0,0,0.3);
    text-align: left;
    color: white;
    border-radius: 5px;
}

.bg-grey-transparent {
    background-color: rgba(0,0,0,0.5);
}

.game-btn {
    width: 130px;
    border: solid 2px black
}

.pawn {
    margin-top: 12px;
}

.input-group {
    border: solid black 1px;
    border-radius: 6px;
}

/* .box {
    border: 2px solid black;
} */

.board-container img {
    width: 100%;
}
</style>