<template>
   <div v-if="currentUser">
    <div class="h1 title-font text-white text-center position-absolute pt-4" style="width: 100%">Historique</div>
    <div class="full-height-width d-flex justify-content-center align-items-center">
      <!-- v-for='partie in liste_partie' :key='partie' -->
      <table class="table table-bordered container justify-content-center align-items-center" style="width: 30%; margin-bottom: 150px;">
        <!-- <div v-if="typePartie == joueur"> -->
          <thead>
            <tr v-if="winner==AI">
              <th class="text-center" style="color: red">Joueur</th>
              <th class="text-center" style="color: green">AI</th>
            </tr>
            <tr v-if="winner!=AI">
              <th class="text-center" style="color: green">Joueur</th>
              <th class="text-center" style="color: red">AI</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Score1</td>
              <td>Score2</td>
            </tr>
            <tr>
              <td>nbTroupes1</td>
              <td>nbTroupes2</td>
            </tr>
            
          </tbody>
        <!-- </div> -->
        <!-- <div v-if="typePartie == AI"> -->
          <thead>
            <tr>
              <th class="text-center">AI 1</th>
              <th class="text-center">AI 2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Score1</td>
              <td>Score2</td>
            </tr>
            <tr>
              <td>nbTroupes1</td>
              <td>nbTroupes2</td>
            </tr>
            
          </tbody>
        <!-- </div> -->
        
        
  </table>
  
    </div>
  </div>
</template>

<script>

export default {
  name: "HistoryComponent",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  },
  data(){
    return 
  }
};
</script>

<style scoped>
.card {
    margin: 0 20px;
    height: 420px;
    -webkit-box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 8px 15px 2px rgba(0,0,0,0.5);
    
    
}
</style>