<template>
  <div class="full-height-width d-flex flex-column justify-content-center">
    <div class="text-center text-white" style="margin-bottom: 80px">
      <p class="display-1 title-font">Risky</p>
      <!-- <div class="display-5 font-weight-bold">En plus stylé</div> -->
      <div class="mt-4" v-if="!currentUser">
        <router-link to="/login">
          <button type="button" class="btn btn-outline-light mr-2">Connexion</button>
        </router-link>
        <router-link to="/register">
          <button type="button" class="btn btn-outline-light ml-2">Inscription</button>
        </router-link>
      </div>
      <div class="mt-4" v-if="currentUser">
        <router-link to="/game">
          <button type="button" class="btn btn-light custom-width-button">Lancer une partie</button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Home",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser['roles']) {
        return this.currentUser['roles'].includes('ROLE_ADMIN');
      }

      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser['roles']) {
        return this.currentUser['roles'].includes('ROLE_MODERATOR');
      }

      return false;
    }
  },
  data() {
    return {
      content: "",
    };
  },
};
</script>

<style>
.custom-width-button {
  width: 200px;
}
</style>
