<template>
  <div id="app" class="bg-custom">
    <nav class="navbar navbar-expand navbar-dark bg-transparent-black">
      <a href="/" class="navbar-brand">Risky</a>
      <div class="navbar-nav mr-auto">
        <li v-if="showAdminBoard" class="nav-item">
          <router-link to="/admin" class="nav-link">Admin Board</router-link>
        </li>
        <li v-if="showModeratorBoard" class="nav-item">
          <router-link to="/mod" class="nav-link">Moderator Board</router-link>
        </li>
        <li v-if="currentUser" class="nav-item">
          <router-link to="/history" class="nav-link">Historique</router-link>
        </li>
      </div>

      <div v-if="!currentUser" class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/register" class="nav-link">
            <font-awesome-icon icon="user-plus" /> Inscription
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/login" class="nav-link">
            <font-awesome-icon icon="sign-in-alt" /> Connexion
          </router-link>
        </li>
      </div>

      <div v-if="currentUser" class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/profile" class="nav-link">
            <font-awesome-icon icon="user" />
            {{ currentUser.username }}
          </router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" @click.prevent="logOut">
            <font-awesome-icon icon="sign-out-alt" /> Déconnexion
          </a>
        </li>
      </div>
    </nav>

    <router-view/>
  </div>
</template>

<script>
export default {
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser['roles']) {
        return this.currentUser['roles'].includes('ROLE_ADMIN');
      }

      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser['roles']) {
        return this.currentUser['roles'].includes('ROLE_MODERATOR');
      }

      return false;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.title-font {
  font-family: 'Alfa Slab One', cursive;
  text-shadow: 0 0 4px black;
  margin-bottom: 0;
}

.bg-custom {
  background-image: url("./assets/home-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.bg-transparent-black {
  background-color: rgba(0, 0, 0, 0.2);
}

.full-height-width {
  height: calc(100vh - 56px);
  width: 100%;
}

</style>
